<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
    <h1>Lista de Tarefas</h1>
    <ul>
        {% for tarefa in tarefas %}
            <li>
                <strong>{{ tarefa['titulo'] }}</strong> - {{ tarefa['descricao'] }} (Status: {{ tarefa['status'] }})
                <a href="{{ url_for('editar_tarefa', id=loop.index) }}">Editar</a>
                <a href="{{ url_for('excluir_tarefa', id=loop.index) }}">Excluir</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('editar_tarefa', id=0) }}">Adicionar Tarefa</a>
</body>
</html>